<nav>
    <div class="nav-container">
        <div class="nav-left">
            <a routerLink="/movies/catalog" class="logo">
                <img src="/movie-talk-logo.svg" alt="Movie Talks Logo" class="logo-img" />
                <span>Movie Talks</span>
            </a>
            <div class="nav-links">
                <a routerLink="/movies/trending" class="nav-link trending-link">🔥 Trending</a> <--- Add class here
                    </div>
            </div>

            <div class="nav-right">
                <ng-container *ngIf="!authService.isLoggedIn()">
                    <button routerLink="/auth/login" class="nav-btn login">Login</button>
                    <button routerLink="/auth/register" class="nav-btn register">Register</button>
                </ng-container>
                <ng-container *ngIf="authService.isLoggedIn()">
                    <button routerLink="/movies/create" class="nav-btn">Add Movie</button>
                    <button (click)="logout()" class="nav-btn logout">Logout</button>
                </ng-container>
            </div>
        </div>
</nav>